body{
	background-color: grey;
}
h1{
      text-align: center;
}


div{
	background-color: black;
	width:200px;
	margin:auto; 
	padding:30px;
	height:400px;
}
.tap{
	border-radius: 90px;
	margin:auto;
}
.top1 {
      background-color:red;
      width:100px; 
      height:100px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 50px;
       margin: 0 auto;

}
.top2 {
      background-color:yellow;
      width:100px; 
      height:100px;
       border-radius: 50px;
        margin: 0 auto;


      
}
.top3 {
      background-color:green;
      width:100px; 
      height:100px;
      margin-top: 20px;
      margin-bottom: 20px;
       border-radius: 50px;
       margin: 0 auto;
       min-height: 10px;



}
.tep1 {
       background-color:black;
	   width:50px;
	   margin:0 auto;
	   height: 300px; 
}
.off{
      background-color: #ccc;
}

